$font-family__primary: 'Jost', sans-serif;
$font-family__secondary: 'Roboto', sans-serif;

$primary-color: #630A37;
$background-color: #F5F5F5;
$color-white: #fff;
$color-black: #000;
$color-gray: #DDDDDD;
$color-gray0: #797979;
$color-gray__disabled: #969696;
$color-gray__darker: #616161;

$font-weight__regular: 400;
$font-weight__medium: 500;
$font-weight__bold: 800;

$screen__m: 1229px;
$screen__sm: 767px;
$screen__xsm: 374px; 