@use '../../utilities/variables' as *;

.page-main {
  max-width: 1216px;
  //100% of root element - 32px margin-top and 65px header height.
  height: calc(100% - 97px);
  margin: 32px auto 0;
}

@media screen and (max-width: $screen__m) {
  .page-main {
    padding: 0 16px;
  }
}